@using Blog
@model Post

<!DOCTYPE html>
<html>
  <head>
    <title>@Model.Title</title>
    <style>
      article{
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <article>
      <h1>@Model.Title</h1>
      @Html.Raw(Model.Content)
    </article>
  </body>
</html>