.form-container {
  width: 600px;
  margin: 50px auto 0 auto;
  background: lightsteelblue;
  border-radius: 7px;
}

.form-container > form {
  padding: 20px;
}

.form-container > h1 {
  background: lightblue;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.control-group {
  margin-bottom: 10px;
}

.control-group > * {
  width: 100%;
}

.form-container label {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
